.container-upcoming{
        margin-left: 60px;
  
}

.upcoming-title{
   
        color: white;
        font-size: 25px;
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: 200;
    
    
}

@media screen and (max-width:537px){
        .container-upcoming{
                margin-left: 10px;
          
        }
        
        .upcoming img{
                width: 140px;
                height: 200px;
        }
       
      }