.container-upcoming{
        margin-left: 60px;
  
}

.upcoming-title{
   
        color: white;
        font-size: 25px;
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: 200;
    
    
}